:root {
  --branco-principal: #ffffff;
  --preto-secundario: #000000;
  --botao-verde: #3cff00;
  --cor-de-fundo: #b88c21;
  --fonte-principal: 'Inter';
  --botao-verde-efeito: #70d610;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 1em;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.principal {
  background-image: url('img/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  background-color: transparent;
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
  border: 2px solid var(--branco-principal);
}

.container__aviso {
  font-size: 1.1em;
  color: var(--preto-secundario);
  margin: 1em 0 2em 0;
}

.container__titulo {
  font-size: 2.3em;
  font-weight: 700;
  margin: 1em 0 1em 0;
}

.container__caixa {
  margin: 0 6em;
}

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 3em;
  color: var(--branco-principal);
  margin-bottom: 0.5em;
}

.descricao__texto {
  color: var(--preto-secundario);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.container__descricao {
  padding: 2em;
}

.questoes__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 2em;
}

.questoes__lista li {
  margin: 1em 3em;
}

.questoes {
  margin-top: 2em;
  text-align: center;
}

.questoes__titulo {
  font-size: 3em;
  color: var(--branco-principal);
}

.lista__titulo {
  font-size: 1.8em;
  color: var(--preto-secundario);
}

.lista__paragrafo {
  font-size: 1em;
  margin: 1.5em 0;
}

.rodape {
  text-align: center;
  margin: 1em 3em;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
}

.lista__link a {
  text-decoration: none;
  color: var(--branco-principal);
  margin-left: 1em;
}

.rodape__texto {
  margin: 1em 0;
  color: var(--preto-secundario);
  font-size: 0.8em;
}

.lista__link a:hover {
  color: var(--botao-verde);
}

.lista__link a:active {
  color: purple;
}

.container__botao:hover {
  background-color: var(--botao-verde-efeito);
  color: var(--preto-secundario);
}

@media screen and (max-width: 768px) {
  .principal {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 5em;
  }

  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10em;
  }

  .secundario {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10em;
  }

  .questoes {
    width: 100%;
    margin-bottom: 5em;
  }
}
